<p>
  <% if current_user && current_user.voted_for?(@dispute) %>
    (Yay: <%= @dispute.get_upvotes.size %> Nay:   <%= @dispute.get_downvotes.size %>)
<% else %>
  <%= link_to "Yea", yea_dispute_path(@dispute), method: :put %>
  <%= link_to "Nay", nay_dispute_path(@dispute), method: :put %>
  <% if current_user.nil? %>
    (Please Sign in to vote)
  <% end %>
<% end %>
</p>
