<div class="row">
  <div class="col-sm-12">
    <div id='dispute-slider' class="carousel slide" data-ride="carousel">
      <!-- wrapper -->
      <div class="carousel-inner" role="listbox">
        <div class="item-active">
          <!--first slide-->
        </div>
      </div>
      <!-- vote & next -->

    </div>
  </div>
</div>
