<div class="landing-background">
  <div class="landing-content" "vertical-center-row">
    <div class="landing-button">
      <h1><%= link_to "Tyranny of the Crowd", carousel_path %></h1>
    </div>
  </div>
</div>
